<h2>Written by new user</h2>



<p>
  <strong>name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>description:</strong>
  <%= @article.description %>
</p>

<% if user_signed_in? %>
  <%= link_to 'New Article', new_article_path %>
  <%= link_to 'Back',articles_path %>
<% end %>
